In [1]:
library(tidyverse)
library(repr)
library(tidymodels)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.5     ✔ rsample      1.2.0
✔ dials        1.2.0     ✔ tune         1.1.2
✔ infer        1.0.5     ✔ workflows    1.1.3
✔ modeldata    1.2.0     ✔ workflowsets 1.0.1
✔ parsnip      1.1.1     ✔ yardstick    1.2.0
✔ recipes      1.0.8

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/

In [16]:
heart_disease <- read_csv("data/heart_disease_uci.csv")
heart_disease

Rows: 920 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (6): sex, dataset, cp, restecg, slope, thal
dbl (8): id, age, trestbps, chol, thalch, oldpeak, ca, num
lgl (2): fbs, exang

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    id  age sex    dataset       cp              trestbps chol fbs
1    1  63  Male   Cleveland     typical angina  145      233   TRUE
2    2  67  Male   Cleveland     asymptomatic    160      286  FALSE
3    3  67  Male   Cleveland     asymptomatic    120      229  FALSE
4    4  37  Male   Cleveland     non-anginal     130      250  FALSE
5    5  41  Female Cleveland     atypical angina 130      204  FALSE
6    6  56  Male   Cleveland     atypical angina 120      236  FALSE
7    7  62  Female Cleveland     asymptomatic    140      268  FALSE
8    8  57  Female Cleveland     asymptomatic    120      354  FALSE
9    9  63  Male   Cleveland     asymptomatic    130      254  FALSE
10  10  53  Male   Cleveland     asymptomatic    140      203   TRUE
11  11  57  Male   Cleveland     asymptomatic    140      192  FALSE
12  12  56  Female Cleveland     atypical angina 140      294  FALSE
13  13  56  Male   Cleveland     non-anginal     130      256   TRUE
14  14  44  Male   Cleveland     atypical angina 120      263  FALSE
15  15  52  Male   Cleveland     non-anginal     172      199   TRUE
16  16  57  Male   Cleveland     non-anginal     150      168  FALSE
17  17  48  Male   Cleveland     atypical angina 110      229  FALSE
18  18  54  Male   Cleveland     asymptomatic    140      239  FALSE
19  19  48  Female Cleveland     non-anginal     130      275  FALSE
20  20  49  Male   Cleveland     atypical angina 130      266  FALSE
21  21  64  Male   Cleveland     typical angina  110      211  FALSE
22  22  58  Female Cleveland     typical angina  150      283   TRUE
23  23  58  Male   Cleveland     atypical angina 120      284  FALSE
24  24  58  Male   Cleveland     non-anginal     132      224  FALSE
25  25  60  Male   Cleveland     asymptomatic    130      206  FALSE
26  26  50  Female Cleveland     non-anginal     120      219  FALSE
27  27  58  Female Cleveland     non-anginal     120      340  FALSE
28  28  66  Female Cleveland     typical angina  150      226  FALSE
29  29  43  Male   Cleveland     asymptomatic    150      247  FALSE
30  30  40  Male   Cleveland     asymptomatic    110      167  FALSE
⋮   ⋮   ⋮   ⋮      ⋮             ⋮               ⋮        ⋮    ⋮
891 891 53  Male   VA Long Beach asymptomatic    124      243  FALSE
892 892 37  Male   VA Long Beach non-anginal     118      240  FALSE
893 893 67  Male   VA Long Beach asymptomatic    140      219  FALSE
894 894 74  Male   VA Long Beach non-anginal     140      237   TRUE
895 895 63  Male   VA Long Beach atypical angina  NA      165  FALSE
896 896 58  Male   VA Long Beach asymptomatic    100      213  FALSE
897 897 61  Male   VA Long Beach asymptomatic    190      287   TRUE
898 898 64  Male   VA Long Beach asymptomatic    130      258   TRUE
899 899 58  Male   VA Long Beach asymptomatic    160      256   TRUE
900 900 60  Male   VA Long Beach asymptomatic    130      186   TRUE
901 901 57  Male   VA Long Beach asymptomatic    122      264  FALSE
902 902 55  Male   VA Long Beach non-anginal      NA       NA  FALSE
903 903 55  Male   VA Long Beach asymptomatic    120      226  FALSE
904 904 56  Male   VA Long Beach asymptomatic    130      203   TRUE
905 905 57  Male   VA Long Beach asymptomatic    130      207  FALSE
906 906 61  Male   VA Long Beach non-anginal      NA      284  FALSE
907 907 61  Male   VA Long Beach non-anginal     120      337  FALSE
908 908 58  Male   VA Long Beach non-anginal     150      219  FALSE
909 909 74  Male   VA Long Beach asymptomatic    155      310  FALSE
910 910 68  Male   VA Long Beach non-anginal     134      254   TRUE
911 911 51  Female VA Long Beach asymptomatic    114      258   TRUE
912 912 62  Male   VA Long Beach asymptomatic    160      254   TRUE
913 913 53  Male   VA Long Beach asymptomatic    144      300   TRUE
914 914 62  Male   VA Long Beach asymptomatic    158      170  FALSE
915 915 46  Male   VA Long Beach asymptomatic    134      310  FALSE
916 916 54  Female VA Long Beach asymptomatic    127      333   TRUE
917 917 62  Male   VA Long Beach typical angina   NA      139  FALSE
918 918 55  Male   VA Long Beach asymptomatic    122      223   TRUE
919 919 58  Male   VA Long Beach asymptomatic     NA      385   TRUE
920 920 62  Male   VA Long Beach atypical angina 120      254  FALSE
    restecg          thalch exang oldpeak slope       ca thal              num
1   lv hypertrophy   150    FALSE 2.3     downsloping 0  fixed defect      0
2   lv hypertrophy   108     TRUE 1.5     flat        3  normal            2
3   lv hypertrophy   129     TRUE 2.6     flat        2  reversable defect 1
4   normal           187    FALSE 3.5     downsloping 0  normal            0
5   lv hypertrophy   172    FALSE 1.4     upsloping   0  normal            0
6   normal           178    FALSE 0.8     upsloping   0  normal            0
7   lv hypertrophy   160    FALSE 3.6     downsloping 2  normal            3
8   normal           163     TRUE 0.6     upsloping   0  normal            0
9   lv hypertrophy   147    FALSE 1.4     flat        1  reversable defect 2
10  lv hypertrophy   155     TRUE 3.1     downsloping 0  reversable defect 1
11  normal           148    FALSE 0.4     flat        0  fixed defect      0
12  lv hypertrophy   153    FALSE 1.3     flat        0  normal            0
13  lv hypertrophy   142     TRUE 0.6     flat        1  fixed defect      2
14  normal           173    FALSE 0.0     upsloping   0  reversable defect 0
15  normal           162    FALSE 0.5     upsloping   0  reversable defect 0
16  normal           174    FALSE 1.6     upsloping   0  normal            0
17  normal           168    FALSE 1.0     downsloping 0  reversable defect 1
18  normal           160    FALSE 1.2     upsloping   0  normal            0
19  normal           139    FALSE 0.2     upsloping   0  normal            0
20  normal           171    FALSE 0.6     upsloping   0  normal            0
21  lv hypertrophy   144     TRUE 1.8     flat        0  normal            0
22  lv hypertrophy   162    FALSE 1.0     upsloping   0  normal            0
23  lv hypertrophy   160    FALSE 1.8     flat        0  normal            1
24  lv hypertrophy   173    FALSE 3.2     upsloping   2  reversable defect 3
25  lv hypertrophy   132     TRUE 2.4     flat        2  reversable defect 4
26  normal           158    FALSE 1.6     flat        0  normal            0
27  normal           172    FALSE 0.0     upsloping   0  normal            0
28  normal           114    FALSE 2.6     downsloping 0  normal            0
29  normal           171    FALSE 1.5     upsloping   0  normal            0
30  lv hypertrophy   114     TRUE 2.0     flat        0  reversable defect 3
⋮   ⋮                ⋮      ⋮     ⋮       ⋮           ⋮  ⋮                 ⋮
891 normal           122     TRUE 2.0     flat        NA reversable defect 1
892 lv hypertrophy   165    FALSE 1.0     flat        NA normal            0
893 st-t abnormality 122     TRUE 2.0     flat        NA reversable defect 3
894 normal            94    FALSE 0.0     NA          NA NA                1
895 st-t abnormality  NA       NA  NA     NA          NA NA                0
896 st-t abnormality 110    FALSE 0.0     NA          NA NA                0
897 lv hypertrophy   150     TRUE 2.0     downsloping NA NA                4
898 lv hypertrophy   130    FALSE 0.0     NA          NA fixed defect      2
899 lv hypertrophy   113     TRUE 1.0     upsloping   NA NA                3
900 lv hypertrophy   140     TRUE 0.5     flat        NA NA                1
901 lv hypertrophy   100    FALSE 0.0     NA          NA NA                1
902 st-t abnormality  NA       NA  NA     NA          NA NA                0
903 lv hypertrophy   127     TRUE 1.7     downsloping NA reversable defect 1
904 normal            98    FALSE 1.5     flat        NA reversable defect 1
905 st-t abnormality  96     TRUE 1.0     flat        NA NA                0
906 normal            NA       NA  NA     NA          NA NA                1
907 normal            98     TRUE 0.0     NA          NA NA                3
908 st-t abnormality 118     TRUE 0.0     NA          NA NA                2
909 normal           112     TRUE 1.5     downsloping NA NA                2
910 normal           151     TRUE 0.0     NA          NA normal            0
911 lv hypertrophy    96    FALSE 1.0     upsloping   NA NA                0
912 st-t abnormality 108     TRUE 3.0     flat        NA NA                4
913 st-t abnormality 128     TRUE 1.5     flat        NA NA                3
914 st-t abnormality 138     TRUE 0.0     NA          NA NA                1
915 normal           126    FALSE 0.0     NA          NA normal            2
916 st-t abnormality 154    FALSE 0.0     NA          NA NA                1
917 st-t abnormality  NA       NA  NA     NA          NA NA                0
918 st-t abnormality 100    FALSE 0.0     NA          NA fixed defect      2
919 lv hypertrophy    NA       NA  NA     NA          NA NA                0
920 lv hypertrophy    93     TRUE 0.0     NA          NA NA                1

In [3]:
Classification <- read_csv("y.csv")
Classification

New names:
• `` -> `...1`
Rows: 303 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (2): ...1, num

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    ...1 num
1    0   0
2    1   2
3    2   1
4    3   0
5    4   0
6    5   0
7    6   3
8    7   0
9    8   2
10   9   1
11  10   0
12  11   0
13  12   2
14  13   0
15  14   0
16  15   0
17  16   1
18  17   0
19  18   0
20  19   0
21  20   0
22  21   0
23  22   1
24  23   3
25  24   4
26  25   0
27  26   0
28  27   0
29  28   0
30  29   3
⋮   ⋮    ⋮
274 273  0
275 274  1
276 275  0
277 276  0
278 277  0
279 278  1
280 279  0
281 280  2
282 281  0
283 282  3
284 283  0
285 284  2
286 285  4
287 286  2
288 287  0
289 288  0
290 289  0
291 290  1
292 291  0
293 292  2
294 293  2
295 294  1
296 295  0
297 296  3
298 297  1
299 298  1
300 299  2
301 300  3
302 301  1
303 302  0

In [17]:
heart_disease_select <- heart_disease|>
select(trestbps,chol,cp)
heart_disease_select

    trestbps chol cp
1   145      233  typical angina
2   160      286  asymptomatic
3   120      229  asymptomatic
4   130      250  non-anginal
5   130      204  atypical angina
6   120      236  atypical angina
7   140      268  asymptomatic
8   120      354  asymptomatic
9   130      254  asymptomatic
10  140      203  asymptomatic
11  140      192  asymptomatic
12  140      294  atypical angina
13  130      256  non-anginal
14  120      263  atypical angina
15  172      199  non-anginal
16  150      168  non-anginal
17  110      229  atypical angina
18  140      239  asymptomatic
19  130      275  non-anginal
20  130      266  atypical angina
21  110      211  typical angina
22  150      283  typical angina
23  120      284  atypical angina
24  132      224  non-anginal
25  130      206  asymptomatic
26  120      219  non-anginal
27  120      340  non-anginal
28  150      226  typical angina
29  150      247  asymptomatic
30  110      167  asymptomatic
⋮   ⋮        ⋮    ⋮
891 124      243  asymptomatic
892 118      240  non-anginal
893 140      219  asymptomatic
894 140      237  non-anginal
895  NA      165  atypical angina
896 100      213  asymptomatic
897 190      287  asymptomatic
898 130      258  asymptomatic
899 160      256  asymptomatic
900 130      186  asymptomatic
901 122      264  asymptomatic
902  NA       NA  non-anginal
903 120      226  asymptomatic
904 130      203  asymptomatic
905 130      207  asymptomatic
906  NA      284  non-anginal
907 120      337  non-anginal
908 150      219  non-anginal
909 155      310  asymptomatic
910 134      254  non-anginal
911 114      258  asymptomatic
912 160      254  asymptomatic
913 144      300  asymptomatic
914 158      170  asymptomatic
915 134      310  asymptomatic
916 127      333  asymptomatic
917  NA      139  typical angina
918 122      223  asymptomatic
919  NA      385  asymptomatic
920 120      254  atypical angina

In [18]:
set.seed(3456)

heart_disease_split <- initial_split(heart_disease_select, prop=0.75, strata=cp)
heart_disease_train<- training(heart_disease_split)
heart_disease_test <- testing(heart_disease_split)
heart_disease_train
heart_disease_test

    trestbps chol cp
1   120      229  asymptomatic
2   140      268  asymptomatic
3   120      354  asymptomatic
4   140      203  asymptomatic
5   140      239  asymptomatic
6   150      226  typical angina
7   150      247  asymptomatic
8   140      239  typical angina
9   117      230  asymptomatic
10  135      234  asymptomatic
11  140      226  asymptomatic
12  132      353  asymptomatic
13  150      225  asymptomatic
14  130      330  asymptomatic
15  150      243  asymptomatic
16  120      177  asymptomatic
17  112      290  asymptomatic
18  130      253  asymptomatic
19  124      266  asymptomatic
20  110      172  asymptomatic
21  125      213  typical angina
22  128      216  asymptomatic
23  120      188  asymptomatic
24  170      326  asymptomatic
25  125      254  asymptomatic
26  110      248  asymptomatic
27  110      197  asymptomatic
28  125      258  asymptomatic
29  150      270  asymptomatic
30  104      208  asymptomatic
⋮   ⋮        ⋮    ⋮
660 128        0  non-anginal
661  NA      228  non-anginal
662   0        0  non-anginal
663 122        0  non-anginal
664 134      240  non-anginal
665 120        0  non-anginal
666 140        0  non-anginal
667 120      214  non-anginal
668  NA      339  non-anginal
669  NA      245  non-anginal
670  NA      161  non-anginal
671 130        0  non-anginal
672 150      195  non-anginal
673  NA      236  non-anginal
674  NA        0  non-anginal
675 132      220  non-anginal
676  NA      181  typical angina
677 120      220  non-anginal
678  NA      221  non-anginal
679  NA      216  typical angina
680 155      175  non-anginal
681  NA      208  non-anginal
682  NA      232  non-anginal
683  NA      203  non-anginal
684 118      240  non-anginal
685 140      237  non-anginal
686  NA      284  non-anginal
687 120      337  non-anginal
688 150      219  non-anginal
689 134      254  non-anginal

    trestbps chol cp
1   160      286  asymptomatic
2   120      236  atypical angina
3   130      254  asymptomatic
4   140      192  asymptomatic
5   120      284  atypical angina
6   130      206  asymptomatic
7   110      167  asymptomatic
8   120      177  asymptomatic
9   150      276  asymptomatic
10  130      197  non-anginal
11  140      233  non-anginal
12  130      305  asymptomatic
13  135      304  non-anginal
14  145      282  asymptomatic
15  150      231  non-anginal
16  120      267  asymptomatic
17  130      264  asymptomatic
18  140      321  non-anginal
19  115      260  asymptomatic
20  120      188  non-anginal
21  120      260  asymptomatic
22  135      203  atypical angina
23  130      330  asymptomatic
24  138      282  typical angina
25  200      288  asymptomatic
26  124      209  asymptomatic
27  130      204  atypical angina
28  120      198  asymptomatic
29  125      245  non-anginal
30  140      221  atypical angina
⋮   ⋮        ⋮    ⋮
202 112      258  typical angina
203 122        0  asymptomatic
204 102        0  non-anginal
205 144      349  asymptomatic
206 124       NA  asymptomatic
207 150      160  asymptomatic
208  NA      312  asymptomatic
209  NA      142  non-anginal
210  NA        0  asymptomatic
211 130      202  asymptomatic
212  NA      204  non-anginal
213 104       NA  non-anginal
214 170      192  asymptomatic
215  NA      272  asymptomatic
216 142      200  typical angina
217 150      219  non-anginal
218  NA      292  asymptomatic
219 150      171  asymptomatic
220 158      217  asymptomatic
221  NA      282  asymptomatic
222 140       NA  asymptomatic
223  NA      271  non-anginal
224 130      186  asymptomatic
225  NA       NA  non-anginal
226 120      226  asymptomatic
227 130      203  asymptomatic
228 155      310  asymptomatic
229 160      254  asymptomatic
230  NA      139  typical angina
231 120      254  atypical angina

In [21]:
heart_disease_tidy <- heart_disease_train |>
group_by(cp)|>
summarize(mean_trestbps = mean(trestbps, na.rm=TRUE), mean_chol = mean(chol, na.rm=TRUE))
heart_disease_tidy

  cp              mean_trestbps mean_chol
1 asymptomatic    132.5931      184.1047
2 atypical angina 128.9435      236.0806
3 non-anginal     130.5180      204.1849
4 typical angina  135.8182      199.6667